
		<table class="table table-striped">
			<thead>
				<th>Id</th>
				<th>Nombre</th>
				<th>Edad</th>
                                <th>Teléfono</th>
				<th>Acciones</th>
			</thead>
			<tr  ng-repeat="estudiante in estudiantes">
                            
                        
                            
                        
                            <td> {{estudiante.id}}</td>
                            <td> {{estudiante.nombre}}</td>
                            <td> {{estudiante.edad}}</td>
                            <td> {{estudiante.telefono}}</td>
                            <td>
                                <table>
                                <tr>    
                                    <td>
                                        <button ng-Click="openEdit(estudiante)" class="btn btn btn-info ">Editar</button>                                    
                                        <button class="btn btn-danger" ng-click="deleteStudent(estudiante.id)" >Eliminar</button>
                                    </td>
                                    <td class="well well-sm">Asignaturas Inscritas <span class="badge">{{(estudiante.signatures.length >0)?estudiante.signatures.length: 0 }}</span>
                                        <button ng-click="openSignatureManager(estudiante)" class="btn btn-warning" ng-click="" >Ver/Inscribir/Cancelar</button>
                                    </td>

                                </tr>
                                
                                </table>   
                            </td>
                          
                        
			</tr>
			
		</table>
<button class="btn btn-success" ng-click="openNew()">Adicionar</button>


<!-- Modal nuevo estudiante -->
    

<!-- Fin modal nuevo estudiante-->

